# Explicitly tracked large files over 80MB
Content/KiteDemo/Environments/Cliffs/Cliff01/T_Cliff01_D_CC_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Cliffs/Cliff01/T_Cliff01_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/T_Tile_PebblyRiverbank_D_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/GroundTiles/PebblyRiverbank/T_Tile_PebblyRiverbank_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/GroundTiles/RockyPath/T_GDC_StonePath_Tile_D_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/GroundTiles/RockyPath/T_GDC_StonePath_Tile_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/GroundRevealRock001/T_GroundRevealRock001a_D_CC_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/GroundRevealRock001/T_GroundRevealRock001a_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Large_Volcanic_Rock_001/T_GDC_LargeVolcanicRock_001_D2_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Large_Volcanic_Rock_001/T_GDC_LargeVolcanicRock_001_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_D2.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_Closed_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Mountain_RockFace_002/T_MountainRock_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Scree001/T_Scree_001_D_CC.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Scree001/T_Scree_001_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Scree002/T_Scree002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Rocks/Scree002/T_Scree002_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Trees/Tree_Stump_01/T_Tree_Stump_01_D_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Trees/Vegetation_Debris_002/T_Vegetation_Debris_002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/KiteDemo/Environments/Trees/Vegetation_Debris_002/T_Vegetation_Debris_002_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Agora_AssetMap_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_Agelsjon02_Cliff_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_Agelsjon02_Cliff_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_GroundRevealRock001a_N_Bump.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_HadriansWall_D_Colored.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_LargePlainsBoulder002_D.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_LargePlainsBoulder002_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_Scree002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Agora/Rocks/Textures/T_Scree002_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Monolith/Dawn/Monolith_Dawn_AssetMap_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/ParagonProps/Monolith/Dusk/Monolith_Dusk_AssetMap_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Polar/Textures/CubeMaps/T_Indoor_MainHall_Blurred_CubeMap.uasset filter=lfs diff=lfs merge=lfs -text
Content/Polar/Textures/CubeMaps/T_Indoor_MainHall_CubeMap.uasset filter=lfs diff=lfs merge=lfs -text
Content/Polar/Textures/CubeMaps/T_Indoor_MainHall_Sunset_Blurred_CubeMap.uasset filter=lfs diff=lfs merge=lfs -text
Content/Polar/Textures/CubeMaps/T_Indoor_MainHall_Sunset_CubeMap.uasset filter=lfs diff=lfs merge=lfs -text
Content/Polar/Textures/CubeMaps/T_Vista_CubeMap_02.uasset filter=lfs diff=lfs merge=lfs -text
Content/SampleMap/ParagonSample_Daylight_BuiltData.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_Fac_Container_Drum_Metal_Worn_01/SM_Ind_Fac_Container_Drum_Metal_Worn_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_Fac_Container_Drum_Metal_Worn_02/SM_Ind_Fac_Container_Drum_Metal_Worn_02.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_War_Bulkhead_Metal_Caged_01/SM_Ind_War_Bulkhead_Metal_Caged_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_War_Cabinet_Electric_Metal_Dirty_01/SM_Ind_War_Cabinet_Electric_Metal_Dirty_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_War_Equipment_RadioCable_01/SM_Ind_War_Equipment_RadioCable_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_War_Storage_Barrel_Plastic_Blue_04/SM_Ind_War_Storage_Barrel_Plastic_Blue_04.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_War_Storage_Cabinet_Metal_Rusty_01/SM_Ind_War_Storage_Cabinet_Metal_Rusty_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_War_Storage_Crate_Trap_Covered_01/SM_Ind_War_Storage_Crate_Trap_Covered_01.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Ind_War_Storage_Shelf_Metal_Rusted_02/SM_Ind_War_Storage_Shelf_Metal_Rusted_02.uasset filter=lfs diff=lfs merge=lfs -text
Content/Scene_Warehouse/Assets/MS/3D/Urb_Str_ElectricalBox_Metal_Worn_01/SM_Urb_Str_ElectricalBox_Metal_Worn_01.uasset filter=lfs diff=lfs merge=lfs -text
